*{
    font-family: system-ui;
}
body{
    background: rgb(23,76,77);
    background: -moz-radial-gradient(circle, rgba(23,76,77,1) 0%, rgba(17,13,42,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(23,76,77,1) 0%, rgba(17,13,42,1) 100%);
    background: radial-gradient(circle, rgba(23,76,77,1) 0%, rgba(17,13,42,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#174c4d",endColorstr="#110d2a",GradientType=1);
}
#div__container__name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
}
#name{
    color: aliceblue;
    font-weight: bold;
    font-size: 50px;
}
.container__tecnologies{
    background-color: rgb(255, 255, 255);
}